<div class="container">

    <form id="signup" action="/checklogin" method="post">

        <div class="header">

            <h3>Sign In</h3>

            <p>Please enter your credentials</p>

        </div>

        <div class="sep"></div>

        <div class="inputs">

            <input type="email" id="mail" name="mail" placeholder="e-mail" autofocus required/>

            <input type="password" id="pass" name="pass" placeholder="Password" required/>


            <input type="submit" id="submit" class="submit" value="SIGN IN" />

        </div>

        <div class="inputs">

        </div>

    </form>

</div>